.container {
  width: var(--content-width);
  max-width: var(--max-width);
  height: auto;
  padding-block: 2rem;
  margin: 0 auto;
}

.title {
  width: 100%;
}

.title p {
  text-align: center;
  font-size: 1.4rem;
  margin-block-end: 2rem;
}

.skillsContainer {
  width: 100%;
}

.skillContainer {
  width: 100%;
  margin-block-end: 1rem;
}

.skillContainer h3 {
  font-size: 1.7rem;
  margin-block-end: 1.5rem;
}

.skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skill {
  width: 46%;
  height: 5.4rem;
  border-radius: 0.5rem;
  background-color: var(--elements);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  margin-block-end: 2.5rem;
}

.skill p {
  width: 70%;
  font-size: 1.5rem;
  text-align: end;
}

.image {
  width: 21%;
}

[data-theme="dark"] .image img {
  filter: invert(1);
}

@media (min-width: 370px) {
  .title p {
    font-size: 1.5rem;
  }

  .skillContainer h3 {
    font-size: 1.8rem;
  }

  .skill {
    height: 5.7rem;
    padding: 1.1rem 2rem;
    margin-block-end: 2.8rem;
  }

  .skill p {
    font-size: 1.6rem;
  }
}

@media (min-width: 400px) {
  .title p {
    font-size: 1.6rem;
  }

  .skillsContainer {
    max-width: 47rem;
    margin: 0 auto;
  }

  .skillContainer h3 {
    font-size: 2rem;
    margin-block-end: 2.5rem;
  }

  .skill {
    height: 6rem;
    padding: 1.1rem 2rem;
    margin-block-end: 2.8rem;
  }

  .skill p {
    font-size: 1.7rem;
  }
}

/* Tablet */

@media (min-width: 700px) {
  .container {
    padding-block: 3rem;
  }

  .title p {
    font-size: 1.7rem;
    margin-block-end: 2.2rem;
  }

  .skillsContainer {
    max-width: 60rem;
  }

  .skillContainer {
    margin-block-end: 2rem;
  }

  .skillContainer h3 {
    font-size: 2.1rem;
  }

  .skill {
    width: 30%;
    padding: 1rem 2.1rem;
  }

  .skill p {
    font-size: 1.8rem;
  }

  .image {
    width: 21%;
  }
}

@media (min-width: 700px) and (min-height: 1100px) {
  .title p {
    font-size: 2.1rem;
  }

  .skillContainer h3 {
    font-size: 2.3rem;
  }

  .skill {
    padding: 1rem 2.3rem;
    margin-block-end: 3.5rem;
  }

  .skill p {
    font-size: 2rem;
  }

  .image {
    width: 21%;
  }
}

/* Desktop */

@media (min-width: 1000px) {
  .title p {
    font-size: 1.7rem;
    margin-block-end: 4rem;
  }

  .skillsContainer {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .skillContainer {
    width: 47%;
  }

  .skillContainer {
    margin-block-end: 1rem;
  }

  .skillContainer h3 {
    font-size: 2rem;
    margin-block-end: 1.5rem;
  }

  .skills {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .skill {
    width: 45%;
    height: 5.5rem;
    margin-block-end: 2.5rem;
  }

  .skill p {
    width: 70%;
    font-size: 1.6rem;
    text-align: end;
  }

  .image {
    width: 18%;
  }
}

@media (min-width: 1300px) {
  .title p {
    font-size: 1.8rem;
  }

  .skillContainer {
    width: 28%;
    margin-block-end: 2rem;
  }

  .skillContainer h3 {
    font-size: 2.1rem;
  }

  .skill {
    width: 45%;
  }

  .skill p {
    width: 70%;
    font-size: 1.7rem;
  }

  .image {
    width: 20%;
  }
}

@media (min-width: 1600px) {
  .title p {
    font-size: 1.9rem;
  }

  .skillContainer h3 {
    font-size: 2.2rem;
  }

  .skill {
    height: 6rem;
  }

  .skill p {
    font-size: 1.8rem;
  }

  .image {
    width: 22%;
  }
}
