.container {
  width: var(--content-width);
  max-width: var(--max-width);
  height: auto;
  padding-block: 4rem;
  margin: 0 auto;
}

.content p {
  font-size: 1.4rem;
  text-align: justify;
  margin-block-end: 2.5rem;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-block-end: 3rem;
}

.buttons button {
  width: 8rem;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: left;
  color: var(--primary);
  background: transparent;
  outline: none;
  border: none;
  position: relative;
  padding-block: 0.5rem;
}

.buttons button:nth-child(2) {
  text-align: right;
}

.buttons button span {
  width: 45%;
  height: 3px;
  border-radius: 1rem;
  display: block;
  background-color: var(--primary);
  position: absolute;
}

.buttons button:nth-child(1) span {
  left: 0;
}

.buttons button:nth-child(2) span {
  right: 0;
}

.imageContainer {
  width: 100%;
  max-width: 45rem;
  background-color: #221f1f;
  box-shadow: 5px 6px 10px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 3rem 2.5rem;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: 20rem;
  position: relative;
  margin-block-end: 1.5rem;
}

.imageContainer p {
  font-size: 1.4rem;
  text-align: center;
  font-weight: 500;
  font-style: italic;
  color: var(--primary);
}

@media (min-width: 370px) {
  .content p {
    font-size: 1.6rem;
  }

  .buttons button {
    width: 9rem;
    font-size: 1.6rem;
  }

  .imageContainer p {
    font-size: 1.5rem;
  }
}

@media (min-width: 400px) {
  .content p {
    font-size: 1.7rem;
  }

  .buttons button {
    width: 10rem;
    font-size: 1.7rem;
  }

  .image {
    height: 22rem;
  }

  .imageContainer p {
    font-size: 1.6rem;
  }
}

/* Tablet */

@media (min-width: 700px) {
  .content p {
    font-size: 1.8rem;
  }

  .buttons button {
    width: 11rem;
    font-size: 1.8rem;
  }

  .image {
    height: 24rem;
    margin-block-end: 2.5rem;
  }

  .imageContainer p {
    font-size: 1.7rem;
  }
}

@media (min-width: 700px) and (min-height: 1100px) {
  .content p {
    font-size: 2.4rem;
  }

  .buttons button {
    width: 12rem;
    font-size: 2.4rem;
  }

  .image {
    height: 28rem;
    margin-block-end: 3rem;
  }

  .imageContainer p {
    font-size: 2.2rem;
  }
}

/* Desktop */

@media (min-width: 1000px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 5rem;
  }

  .content,
  .imageContainer {
    width: 45%;
  }

  .content p {
    font-size: 1.7rem;
  }

  .buttons {
    margin: 0;
  }

  .buttons button {
    font-size: 1.6rem;
  }

  .imageContainer {
    margin: 0;
  }

  .image {
    height: 22rem;
  }

  .imageContainer p {
    font-size: 1.6rem;
  }
}

@media (min-width: 1300px) {
  .content p {
    font-size: 2rem;
  }

  .buttons button {
    font-size: 1.8rem;
  }

  .imageContainer p {
    font-size: 1.8rem;
  }
}

@media (min-width: 1600px) {
  .content p {
    font-size: 2.1rem;
  }

  .buttons button {
    font-size: 2rem;
  }

  .imageContainer p {
    font-size: 1.9rem;
  }
}
