.container {
  width: 100%;
  height: auto;
  background: var(--elements);
  margin: 0 auto;
  padding-block: 3rem 4rem;
  margin-block-start: 4rem;
}

.container form {
  width: var(--content-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.inputs {
  width: 100%;
  margin-bottom: 1.5rem;
}

.inputContainer {
  width: 100%;
  margin-bottom: 2rem;
}

.inputContainer label {
  width: fit-content;
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  margin-bottom: 1rem;
}

.input {
  width: 100%;
  position: relative;
}

.input input,
.input textarea {
  width: 100%;
  font-size: 1.3rem;
  background-color: var(--elements);
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  padding: 1rem 4.5rem 1rem 1.5rem;
}

[data-theme="dark"] .input input,
[data-theme="dark"] .input textarea {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.input input::placeholder,
.input textarea::placeholder {
  font-size: 1.2rem;
  opacity: 0.6;
}

.input input:focus,
.input textarea:focus {
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.4);
  outline: none;
}

[data-theme="dark"] .input input:focus,
[data-theme="dark"] .input textarea:focus {
  border-color: rgba(255, 255, 255, 0.4);
}

.input textarea {
  width: 100%;
  height: 12rem;
  resize: none;
  padding: 1rem 1.5rem 1rem 1.5rem;
}

.icon {
  width: 8%;
  max-width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-inline-end: 1.5rem;
}

.alert p {
  font-size: 1.2rem;
  text-align: center;
  color: #0663b0;
  margin-block-start: 0.6rem;
}

[data-theme="dark"] .alert p {
  color: #33b1ff;
}

.submitBtn {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--text);
  background: transparent;
  border: 3px solid var(--primary);
  border-radius: 0.5rem;
  outline: none;
  padding: 0.8rem;
  margin-block-start: 1rem;
  transition: all 0.5s ease-in-out;
}

.ready {
  background-color: var(--primary);
  color: #fff;
}

.loader {
  width: 100%;
  margin-block: 2rem 0;
}

.loader p {
  font-size: 1.4rem;
  text-align: center;
  margin-block-end: 2rem;
}

.loader svg {
  width: 30%;
  display: block;
  margin: 0 auto;
  fill: var(--primary);
}

.send,
.error {
  width: 100%;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.send p,
.error p {
  font-size: 1.5rem;
  margin-block-end: 1rem;
}

.send img,
.error img {
  width: 80%;
}

@media (min-width: 370px) {
  .inputs {
    margin-bottom: 1.6rem;
  }

  .inputContainer {
    margin-bottom: 2.1rem;
  }

  .inputContainer label {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
  }

  .input input,
  .input textarea {
    font-size: 1.4rem;
    padding: 1.1rem 4.6rem 1.1rem 1.6rem;
  }

  .input input::placeholder,
  .input textarea::placeholder {
    font-size: 1.3rem;
  }

  .input textarea {
    height: 13rem;
    padding: 1.1rem 1.6rem 1.1rem 1.6rem;
  }

  .icon {
    max-width: 1.6rem;
    margin-inline-end: 1.6rem;
  }

  .alert p {
    font-size: 1.3rem;
    margin-block-start: 0.7rem;
  }

  .submitBtn {
    font-size: 1.5rem;
    padding: 0.9rem;
    margin-block-start: 1.1rem;
  }

  .loader p {
    font-size: 1.5rem;
  }

  .send p,
  .error p {
    font-size: 1.6rem;
    margin-block-end: 1.5rem;
  }

  .send img,
  .error img {
    width: 70%;
  }
}

@media (min-width: 400px) {
  .send img,
  .error img {
    width: 65%;
  }
}

@media (min-width: 700px) {
  .container {
    margin-block-start: 15rem;
    padding-block: 3rem 4.5rem;
  }

  .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1.5rem;
    grid-gap: 5%;
  }

  .inputContainer {
    margin-bottom: 0;
  }

  .inputContainer:nth-child(3) {
    grid-column: 1 / 3;
    margin-bottom: 2.2rem;
  }

  .input textarea {
    height: 10rem;
  }

  .submitBtn {
    width: 25%;
    display: block;
    padding: 0.7rem;
    margin: 2rem auto 0 auto;
  }

  .loader svg {
    width: 18%;
  }

  .send img,
  .error img {
    width: 35%;
  }
}

@media (min-width: 700px) and (min-height: 1000px) {
  .container {
    padding-block: 4rem 5.5rem;
  }

  .inputs {
    margin-bottom: 2rem;
  }

  .inputContainer:nth-child(3) {
    margin-block-start: 1rem;
  }

  .inputContainer label {
    font-size: 1.9rem;
    margin-bottom: 1.6rem;
  }

  .input input,
  .input textarea {
    font-size: 1.8rem;
    padding: 1.5rem 5rem 1.5rem 2rem;
  }

  .input input::placeholder,
  .input textarea::placeholder {
    font-size: 1.7rem;
  }

  .input textarea {
    height: 12rem;
    padding: 1.5rem 2rem 1.5rem 2rem;
  }

  .icon {
    max-width: 2rem;
    margin-inline-end: 2rem;
  }

  .alert p {
    font-size: 1.7rem;
    margin-block-start: 1.1rem;
  }
  /*  */
  .submitBtn {
    font-size: 1.9rem;
    margin: 3rem auto 0 auto;
  }

  .loader p {
    font-size: 1.5rem;
  }

  .send p,
  .error p {
    font-size: 2rem;
    margin-block-end: 1.9rem;
  }

  .send img,
  .error img {
    width: 50%;
  }
}

/* Desktop */

@media (min-width: 1000px) {
  .container {
    margin-block-start: 8rem;
  }

  .inputs {
    width: 70%;
    max-width: 80rem;
    margin: 0 auto;
  }

  .inputContainer {
    margin-block-end: 0.5rem;
  }

  .submitBtn {
    width: 15%;
    max-width: 15rem;
  }

  .loader svg {
    width: 10%;
  }

  .send img,
  .error img {
    width: 20%;
  }
}

@media (min-width: 1400px) {
  .inputs {
    margin-bottom: 1.7rem;
  }

  .inputContainer label {
    font-size: 1.6rem;
    margin-bottom: 1.3rem;
  }

  .input input,
  .input textarea {
    font-size: 1.5rem;
  }

  .input input::placeholder,
  .input textarea::placeholder {
    font-size: 1.4rem;
  }

  .input textarea {
    height: 12rem;
  }

  .alert p {
    font-size: 1.4rem;
    margin-block-start: 0.8rem;
  }

  .submitBtn {
    font-size: 1.6rem;
    margin-block-start: 2.5rem;
  }

  .loader svg {
    width: 8%;
  }

  .loader p {
    font-size: 1.6rem;
  }

  .send p,
  .error p {
    font-size: 1.7rem;
    margin-block-end: 1.8rem;
  }
}

@media (min-width: 1600px) {
  .inputs {
    margin-bottom: 1.8rem;
  }

  .inputContainer label {
    font-size: 1.7rem;
    margin-bottom: 1.4rem;
  }

  .input input,
  .input textarea {
    font-size: 1.6rem;
  }

  .input input::placeholder,
  .input textarea::placeholder {
    font-size: 1.5rem;
  }

  .input textarea {
    height: 13rem;
  }

  .alert p {
    font-size: 1.5rem;
    margin-block-start: 1em;
  }

  .submitBtn {
    font-size: 1.7rem;
    margin-block-start: 2.8rem;
  }

  .loader p {
    font-size: 1.7rem;
  }

  .send p,
  .error p {
    font-size: 1.8rem;
    margin-block-end: 2rem;
  }
}
