.container {
  width: 100%;
  height: 100%;
}

.content {
  width: 100%;
  height: calc(100% - 12rem);
  overflow-y: scroll;
  padding-inline: 2rem;
}

.container h3 {
  font-size: 1.8rem;
  text-align: center;
  margin-block: 3rem;
}

.cards {
  width: 100%;
  height: fit-content;
}

.card {
  width: 100%;
  height: fit-content;
  background-color: var(--elements);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  margin-block-end: 4rem;
}

.card h4 {
  font-size: 1.5rem;
  text-align: center;
  margin-block-end: 1.5rem;
}

.card ul {
  padding-inline-start: 2rem;
  margin-block-end: 2rem;
}

.card ul li {
  font-size: 1.3rem;
  margin-block-end: 0.5rem;
}

.card ul li a {
  color: var(--primary);
  font-weight: 500;
}

.image {
  height: 12rem;
}

@media (min-width: 370px) {
  .container h3 {
    font-size: 1.9rem;
  }

  .card h4 {
    font-size: 1.6rem;
  }

  .card ul li {
    font-size: 1.4rem;
  }

  .image {
    height: 12.5rem;
  }
}

@media (min-width: 400px) {
  .container h3 {
    font-size: 2rem;
  }

  .card h4 {
    font-size: 1.7rem;
  }

  .card ul li {
    font-size: 1.5rem;
  }

  .image {
    height: 13rem;
  }
}

/* Tablet */

@media (min-width: 700px) {
  .container h3 {
    font-size: 2.2rem;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 4%;
    padding-block-end: 5rem;
  }

  .card {
    height: 100%;
    padding: 2.5rem 2rem;
    margin: 0;
  }

  .card h4 {
    font-size: 1.8rem;
    margin-block-end: 2rem;
  }

  .card ul {
    margin-block-end: 2.5rem;
  }

  .card ul li {
    font-size: 1.5rem;
    margin-block-end: 0.8rem;
  }

  .image {
    height: 14rem;
  }
}

@media (min-width: 700px) and (min-height: 1100px) {
  .container h3 {
    font-size: 2.8rem;
    margin-block: 4rem;
  }

  .content {
    height: calc(100% - 16rem);
    padding-inline: 3rem;
  }

  .card {
    padding: 3rem 2rem;
  }

  .card h4 {
    font-size: 2rem;
  }

  .card ul {
    margin-block-end: 3rem;
  }

  .card ul li {
    font-size: 1.9rem;
    margin-block-end: 1rem;
  }

  .image {
    height: 16rem;
  }
}

/* Desktop */

@media (min-width: 1000px) {
  .container h3 {
    font-size: 2.3rem;
  }

  .content {
    padding-inline: 3rem;
  }

  .cards {
    grid-gap: 5%;
  }

  .card ul li {
    font-size: 1.6rem;
  }

  .image {
    height: 16rem;
  }
}

@media (min-width: 1300px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3%;
  }
}

@media (min-width: 1500px) {
  .container h3 {
    font-size: 2.4rem;
  }
}

@media (min-width: 1700px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
