.container {
  width: 100%;
  height: 100%;
}

.container h3 {
  font-size: 1.7rem;
  text-align: center;
  margin-block: 3rem;
}

.content {
  width: 100%;
  height: calc(100% - 12rem);
  overflow-y: scroll;
  padding-inline: 2rem;
}

.content p {
  font-size: 1.3rem;
  text-align: justify;
  margin-block-end: 2.5rem;
}

.image {
  height: 17rem;
  margin-block-end: 3rem;
}

.image img {
  border-radius: 0.5rem;
  margin: 0 auto;
}

@media (min-width: 370px) {
  .container h3 {
    font-size: 1.8rem;
  }

  .content {
    padding-inline: 2.5rem;
  }

  .content p {
    font-size: 1.4rem;
  }

  .image {
    height: 20rem;
  }
}

@media (min-width: 400px) {
  .container h3 {
    font-size: 1.9rem;
  }

  .content p {
    font-size: 1.5rem;
  }

  .image {
    height: 22rem;
  }
}

/* Tablet */

@media (min-width: 700px) {
  .content {
    padding-inline: 3rem;
  }

  .image {
    height: 26rem;
  }
}

@media (min-width: 700px) and (min-height: 1100px) {
  .container h3 {
    font-size: 2.3rem;
    margin-block: 4rem;
  }

  .content p {
    font-size: 2rem;
    margin-block-end: 4rem;
    line-height: 3.5rem;
  }

  .image {
    height: 30rem;
    margin-block-end: 8rem;
  }
}

/* Desktop */

@media (min-width: 1000px) {
  .container h3 {
    font-size: 2rem;
  }

  .content {
    padding-inline: 4rem;
  }

  .content p {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
}

@media (min-width: 1400px) {
  .container h3 {
    font-size: 2.1rem;
  }

  .content {
    display: grid;
    grid-template-columns: 50% 10% 40%;
  }

  .content {
    padding-inline: 4rem;
  }

  .content p {
    font-size: 1.7rem;
  }

  .image {
    width: 45%;
    height: 70%;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    margin-inline-end: 2rem;
  }

  .image img {
    width: 90% !important;
    height: 90% !important;
    object-fit: cover;
    position: fixed !important;
    top: 50% !important;
    transform: translateY(-45%);
    margin-inline-end: 2rem;
  }
}

@media (min-width: 1600px) {
  .container h3 {
    font-size: 2.2rem;
  }

  .content p {
    font-size: 1.8rem;
  }
}
